@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Otomanopee One', sans-serif;
    background-color: #628395;
}

.wrapper {
    width: 70%;
    text-align: center;
    margin: auto;
}

h2 {
    margin-top: 2%;
    color: red;
    font-size: 45px;
    text-shadow: 2px 2px black;
}

h4 {
    margin-top: 5%;
    font-size: 35px;
}

p {
    font-size: 25px;
    margin: 8%;
}

.dice {
    display: inline-block;
    text-align: center;
    margin: 5% 12%;
}

.img1,
.img2 {
    width: 250px;
    height: 280px;
}